@use "sass:math";

@import "~@wordpress/base-styles/animations";
@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/colors";
@import "~@wordpress/base-styles/mixins";
@import "~@wordpress/base-styles/default-custom-properties";
@import "~@wordpress/base-styles/variables";
@import "~@wordpress/base-styles/z-index";


@import "~@wordpress/components/src/style.scss";
@import "~@wordpress/block-editor/src/style.scss";
@import "~@wordpress/block-library/src/style.scss";
@import "~@wordpress/block-library/src/theme.scss";
@import "~@wordpress/block-library/src/editor.scss";
@import "~@wordpress/format-library/src/style.scss";


$min-height: 500px;
$sidebar-width: 300px;
$border-color: #ddd;

.block-editor-container {
    border: solid 1px $border-color;
    border-radius: 2px;

    .block-editor {
        display: flex;
        flex-direction: column;
    }

    .block-editor__header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        border-bottom: solid 1px $border-color;
    }

    .block-editor__header-toolbar {
        display: flex;
    }

    .block-editor__content {
        display: flex;
        min-height: $min-height;
    }

    .block-editor__editor {
        flex: 1;
        margin: 1rem;
    }

    .block-editor__sidebar {
        flex: 0 0 $sidebar-width;

        .components-panel {
            height: 100%;
            position: relative;
            top: -1px;
            right: -1px;
        }
    }

    .block-editor-inserter__menu {
        background-color: #FFFFFF;
    }

    .block-editor-inserter__popover {
        .components-popover__content  {
            background-color: #FFFFFF;
            max-height: calc(#{$min-height} - .5rem) !important;
        }
    }
}
