@use "sass:math";

@import "../node_modules/@wordpress/base-styles/animations";
@import "../node_modules/@wordpress/base-styles/breakpoints";
@import "../node_modules/@wordpress/base-styles/colors";
@import "../node_modules/@wordpress/base-styles/mixins";
@import "../node_modules/@wordpress/base-styles/default-custom-properties";
@import "../node_modules/@wordpress/base-styles/variables";
@import "../node_modules/@wordpress/base-styles/z-index";


@import "../node_modules/@wordpress/components/src/style.scss";
@import "../node_modules/@wordpress/block-editor/src/style.scss";
@import "../node_modules/@wordpress/block-library/src/style.scss";
@import "../node_modules/@wordpress/block-library/src/theme.scss";
@import "../node_modules/@wordpress/block-library/src/editor.scss";
@import "../node_modules/@wordpress/format-library/src/style.scss";

$sidebar-width: 300px;
$border-color: #e0e0e0;
$test: 1;

.block-editor-container {
    position: relative;
    border: solid 1px $border-color;
    border-radius: 2px;

    input, textarea {
        box-sizing: border-box;
    }

    .block-editor {
        display: flex;
        flex-direction: column;
    }

    .block-editor__header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        border-bottom: solid 1px $border-color;
    }

    .block-editor__header-toolbar {
        display: flex;
    }

    .block-editor__content {
        display: flex;
    }

    .block-editor__editor {
        flex: 1;
        padding: 1rem;
        overflow-y: auto;
    }

    .block-editor__sidebar {
        flex: 0 0 $sidebar-width;
        overflow-y: auto;
        border-left: 1px solid $border-color;

        .components-panel {
            box-sizing: content-box;
            height: 100%;
            position: relative;
            border: none;
        }
    }

    .block-editor-inserter__menu {
        background-color: #FFFFFF;
    }

    .block-editor-inserter__popover {
        .components-popover__content  {
            background-color: #FFFFFF;
            max-height: 400px !important;
        }

        .block-editor-inserter__menu {
            margin: -12px -8px;
        }
    }

    iframe, img {
        border: none;
    }
}
