@import '~@wordpress/components/build-style/style.css';
@import '~@wordpress/block-editor/build-style/style.css';
@import '~@wordpress/block-library/build-style/style.css';
@import '~@wordpress/block-library/build-style/editor.css';
@import '~@wordpress/block-library/build-style/theme.css';

@import "~@wordpress/base-styles/colors";
@import "~@wordpress/base-styles/variables";
@import "~@wordpress/base-styles/mixins";
@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/animations";
@import "~@wordpress/base-styles/z-index";

$min-height: 500px;
$sidewar-width: 300px;
$border-color: #cccccc;

.laraberg-container {
    border: solid 1px $border-color;
    border-radius: 2px;

    .interface-interface-skeleton__body {
        position: relative;
        display: flex;
    }
    
    .interface-interface-skeleton__header {
        padding: .5rem;
        border-bottom: solid 1px $border-color;
    }
    
    .laraberg-header {
        display: flex;
        justify-content: space-between;
    }
    
    .laraberg-header__toolbar .history-button {
        margin-left: .5rem;
    }

    .interface-interface-skeleton__body {
        min-height: $min-height;
    }
    
    .interface-interface-skeleton__content {
        flex: 1;
    
        .components-notice {
            margin: 0;
        }
    
        .components-notice__dismiss {
            align-self: center;
        }
    }
    
    .laraberg-editor {
        padding: 1rem 2rem;
    }
    
    .interface-interface-skeleton__sidebar {
        flex: $sidewar-width 0;
        position: relative;
        top: -1px;
    }
    
    .laraberg-sidebar {
        height: 100%;
    
        .components-panel {
            height: 100%;
            display: flex;
            flex-direction: column;
    
            div:last-of-type {
                flex: 1;
            }
        }
    
        .components-text-control__input {
            width: 94%;
        }
    }
    
    .block-editor-inserter__menu {
        background-color: #FFFFFF;
    }

    .block-editor-inserter__popover {
        .components-popover__content  {
            max-height: calc(#{$min-height} - .5rem) !important;
        }
    }
}
